--extra-index-url https://download.pytorch.org/whl/cu128
Pillow==12.0.0
numpy==2.2.6
torch==2.10.0+cu128
torchvision==0.25.0+cu128
open_clip_torch==3.2.0
rawpy==0.26.1
opencv-python==4.13.0.92
Send2Trash==2.1.0
tkinterdnd2

# Optional: AMD GPU acceleration on Windows (DirectML)
# pip install torch-directml

# Optional (legacy): ONNX GPU acceleration
# Only useful on older NVIDIA GPUs. Also requires code changes inside Makimus-AI.py to enable.
# onnxruntime-gpu==1.23.2
